# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (always ignore .env, .env.local, etc.)
.env*
!.env.example # Optional: if you want to commit an example env file
!.env.local  # Optional: if you want to commit an example .env.local
!.env.production # Optional: if you want to commit a sample production env
!.env.development # Optional: if you want to commit a sample dev env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
